<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <form  [formGroup] = 'subjectForm' (ngSubmit) = 'onSubmit()' #f>
                  <div class = "form-group">
                    <label for = "name">Subject Name :</label>
                    <input type = "text" id = "name" name = "name" placeholder="Enter Subject Name" class = "form-control" formControlName = "name" style="border: 1px black solid;">
          
                  </div>
                  <div class ="form-group">
                      <div class="dropdown"style ="margin-left: 0em;">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" >    
                            Category
                        </button>
                        <span id = "sub_type" style = "display : none;color:red;margin-left:0.4em">Selected Category: {{type}}</span>
                       <ul class = "dropdown-menu" role = "menu">
                         <li role = "presentaion" *ngFor= "let type of types">
                           <a role = "menuitem" (click) = "showType(type)" >{{type}}</a>
                         </li>
                       </ul>
                       
                    </div>
                </div>
                  
                  <input type = "submit" class = "btn btn-primary">
                </form>
               
                <input type = "button" class = "btn btn-warning" value = "Show subjects" (click) = "showSubject()" id = "show_button">
            </div>
        </div>
        <hr>
        <div class = "row">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>