label{
    color : black;
}

.form-group{
    float:left;
}

#code_div{
    position: absolute;
    margin-left: 18em;
    width: max-content;
}

#show_button{
    float: left;
    position: absolute;
    margin-left: 16em;
}