label{
    color : black;
}

.form-group{
    float:left;
}

#code_div{
    position: absolute;
    margin-left: 18em;
    width: max-content;
}

input[type = "submit"]{
    margin-left: 2em;
    width: 9em;
 }

#show_button{
    margin-top: -5.3em;
    margin-left: 15em;
    position: absolute;
}

