#login_body{
  background : url(../../assets/bg.jpg);
  background-repeat : no-repeat;
  background-size: cover;
  position: fixed;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 100%;
}

#login_body layer{
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height : 100%;
}


#login_form{
  width: 450px;
  background : rgba(0, 0, 0 , 0.58);
  margin-left:60em;
  height : 100%;
  /* position: absolute; */
 //padding-bottom: 2em;
  margin-top: 12em;
  text-align: center;
  margin-left: 30em;
}

#div_login{
  margin-left: 6em;
}

input[type = "email"], input[type = "text"], input[type = "password"] {
  width: 80%;
  padding: 10px 15px 10px 0;
  outline: none;
  font-size: 14px;
  color: #fff;
  font-family: 'Hind', sans-serif;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  margin: 20px 0px;
}

#sp{
  color:red;
  font-style:sans-serif;

  font-size : larger;
  display: none;
}

.circle-login {
  border-radius: 50% !important;
  width: 262px !important;
  margin-left: 35em !important;
  background: linear-gradient(#5e43a1,#43845c,#334346) !important;
  transition: all 0.35s ease-in-out;
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
