html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#header {
  position: fixed;
  display: block;
  top: 0;
  z-index: 10000;
  background-color: #FFFFFF;
  width: 100%;
  height: 63px;
  border-bottom: solid 1px #ececec;
}
.spinner img{
  margin-left: 40%;
    width: 20%;
    margin-top: 15%;
}
#header .wrap {
  position: relative;
}
#header div {
  padding: 0;
  margin: 0;
}

#header .head-wrap {
  position: relative;
  width: 1246px;
  margin-left: auto;
  margin-right: auto;
}

#header img#exo_logo {
  float: left;
  padding-top: 13px;
  cursor: pointer;
  height:48px;
}

#header nav {
  position: absolute;
  display: block;
  top: 0;
  width: 735px;
  left: 850px;
}

#header #back_active {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url('../assets/menu_active.png');
  background-position: 0 0;
  background-size: 105px auto;
  background-repeat: no-repeat;
  display: block;
  color: #ffffff;
  width: 105px;
  height: 76px;
}

#header ul {
  float: left;
  padding: 0;
  margin: 0;
  height: 65px;
  z-index: 10021;
  width: 100%;
  display: table-row;
  list-style-type: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#header ul li {
  -moz-user-select: none;
  -webkit-user-select: none;
  display: block;
  float: left;
  width: 105px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 10022;
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#header ul li a.active {
  /* color: #fff; */
}

#header ul li a {
  border: 0 none;
  outline: none;
  display: block;
  padding-top: 22px;
  text-decoration: none;
  color: #4d4d4f;
  line-height: 65px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header .wrap .lang-selector {
  position: absolute;
  z-index: 10020;
  top: 0;
  left: 100%;
  margin-left: -28px;
  display: block;
  width: 28px;
  height: 24px;
  background-color: #363638;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

/*end of header css */

#main-content {
  position: relative;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top : 4.5em;
}
