<div id = "dev_div">
  <h2>Our Team</h2><hr>
  <div class="card" style = "margin-top:1em" >
  <img class="card-img-top"  src="../../assets/sagar.jpg" alt="Card image" >
  <div class="card-body">
    <h4 class="card-title">Sagar Mishra</h4>
    <p class="card-text">Associate Software Engineer </p>
    <a href="#" class="btn btn-primary" href = "https://www.linkedin.com/in/sagar-m-966243aa/" target = "-" >Linkedin</a>
  </div>
</div>

<div class="card"  style = "margin-top:1em" >
  <img class="card-img-top"  src="../../assets/vishal.jpg" alt="Card image" >
  <div class="card-body">
    <h4 class="card-title">Vishal Patil</h4>
    <p class="card-text">Associate Software Engineer </p>
    <a  class="btn btn-primary" target = "-" >Linkedin</a>
  </div>
</div>

<div class="card" style = "margin-bottom: 2em;" >
  <img class="card-img-top" src="../../assets/jaggu.JPG" alt="Card image" >
  <div class="card-body">
    <h4 class="card-title" style = "padding-left:1em">Jagannath Pidaparthy</h4>
    <p class="card-text">Associate Software Engineer</p>
    <a href="#" class="btn btn-primary" href = "https://www.linkedin.com/in/jagannath-pidaparthy-578b44147/" target = "-" >Linkedin</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top"  src="../../assets/preetika.jpg" alt="Card image" >
  <div class="card-body">
    <h4 class="card-title" style = "padding-left:2.5em">Preetika Shetty</h4>
    <p class="card-text">Associate Software Engineer </p>
    <a href="https://www.linkedin.com/in/preetika-shetty-564b66119" class="btn btn-primary" target = "-">Linkedin</a>
  </div>
</div>
</div>
